# App
APP_PORT=0000

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_IS_SECURE=""

# Database
# PostgreSQL
DB_CLIENT=""
DB_NAME=""
DB_USER=""
DB_PASSWORD=""

#Oauth
#Google
GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""